<h1>This is dashboard.</h1>

<form action="/post" method="POST">
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" placeholder="Title">

    <label for="content">Content:</label>
    <textarea id="content" name="content" placeholder="Content"></textarea>

    <button>Share</button>
</form>

<main class="posts">
    {{#if posts}}
        {{#each posts}}
        <div class="post">
            <h2>{{title}}</h2>
            <p>{{content}}</p>
            <p>Author: {{author}}</p>
            <p>Created On: {{createdAt}}</p>
        </div>
        {{/each}}
    {{else}}
        <p>No posts available.</p>
    {{/if}}
</main>